h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.filters{
    padding-bottom: 50px;
}
.filters label input{
    display: none;
}
.filters-row{
    margin-bottom: 5px;
    margin-top: 10px;
}
.btn{
    border-radius: 0px !important;
}
.filters-input{
    width: 100px;
    display: inline;
}
.sort{
    margin-bottom: 20px;
    margin-top: 20px;
    /*font-weight: bold;*/
}
.sort b{
    margin-right: 10px;
}
.pagination label{
    margin-left: 15px;
    cursor: pointer;
}
.pagination label input[type=radio] + div {
    display: inline-block;
}

.pagination label input[type=radio]:checked + div {
    color: #CBCBCB;
}


.sort label{
    margin-left: 15px;
    color:#000000 ;
    text-decoration: underline;
}
.sort label.active{
    color: #939393;
    text-decoration: none;
    font-weight: bold;
}
.sort label:hover{
    color: #CBCBCB;
}
.glyphicon-calendar{
    margin-top: 5px;
    margin-left: 5px;
}
table{
    width:100%;
}
.table{
    width: 100%;
    height: 400px;
    position: relative;
    display: inline-block;
    overflow-y: scroll;
}